@import "../../../assets/scss/base/config";

.rental-carousel {
  img {
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
}

.author__picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  overflow: hidden;
}

.rental-general {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;

  &>section {
    flex-grow: 1;
  }


  @media screen and (min-width: $screen-md) {
    flex-direction: row;
  }

}

.rental-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;


  @media screen and (min-width: $screen-md) {
    flex-direction: column-reverse;
    align-items: end;
  }
}

.rental-accordions {
  position: relative;
}